{% layout 'backoffice/default-layout' %}
{% block content %}
  <div class="title-page">Dashboard</div>
  <div class="home-wrapper d-flex">
    <div class="total-home">
      <div class="wrapper-table p-4 fs-5">Total customers: {{ totalCustomers }}</div>
      <div class="wrapper-table p-4 mt-3">
        <div class="fs-5">Total supply: {{ totalSupply }} $</div>
        <div class="mt-1">
          {% for collateral in collateralCurrencyAmount %}
            <div class="fs-6">{{ collateral.symbol }}: {{ collateral.amount }} $</div>
          {% endfor %}
        </div>
        <hr style="color: #fff;">
        <div class="fs-5">Total borrow: {{ totalDebt }} $</div>
        <div class="mt-1">
          {% for debt in debtCurrencyInitial %}
            <div class="fs-6">{{ debt.symbol }}: {{ debt.amount }} $</div>
          {% endfor %}
        </div>
        <hr>
        <div class="fs-5">Total fee accumulated: {{ totalFeeAccumulatedUsd }} $</div>
      </div>
    </div>
    <div class="suported-home">
      <div class="wrapper-table p-4">
        <div class="fs-5">Supported currencies</div>
        <div class="fs-6 mt-3">Collateral:</div>
        <ul>
          {% for collateral in currenciesAllSymbol %}
            <li>{{ collateral.collateralCurrency_symbol }}</li>
          {% endfor %}
        </ul>
        <div class="fs-6 mt-3">Borrow:</div>
        <ul>
          {% for borrow in debtAllSymbol %}
            <li>{{ borrow.debtCurrency_symbol }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% endblock %}